body {
  background:#02b138; 
  text-align:center; 
  font-size:24px;
  color: #fff;
  font-family: 微软雅黑;
}
#title{
  margin:20px;
}
#scene{
   width: 440px;
   height: 440px;
   margin: auto;
   border: 3px solid #fff;
    border-radius: 10px;
   background-image: url(beijing.jpg);
   background-size:cover;
   /*display: inline-block;*/
}
#scene div{
  width: 20px;
  height: 20px;
  border: 1px solid rgba(0,0,0,0);
  float: left;
}
.she{
	background:#ff0000;
  border: 1px solid #fff!important;
  border-radius: 3px;
}
.food{
	background-image:url(shiwu.jpg);
  background-repeat: no-repeat;
}
#btnStart{
      width: 200px;
      height: 80px;
      background-image: url(fanhui.jpg);
      background-size:cover;
      border:none;
      border-radius: 15px;
      cursor: pointer;
      margin-top: 20px;
      position: fixed;
      bottom:100px;
      right: 170px;
    }
#box{
  width: 180px;
  height: 230px;
  position: fixed;
  top:140px;
  left: 70px;
  border: 2px solid #fff;
  border-radius: 14px;
  
}
h5{
  margin-top: 15px;
  color: red;
}
p{
  /*float: left;*/
  font-size: 16px;
  color: #fff;
}
